body {
  font-family: Arial, Helvetica, Roboto, Candara;
  background-color: #212121;
  color: white;
}
h1 {
  font-family: Arial;
}
h2 {
  font-family: Arial;
  font-size: 2em;
}

.topPanel {
  display: block;
  width: 100%;
  float:left;
}
.leftPanel, .rightPanel{
  display: inline-block;
  width: 100%;
  float: left;
  text-align: center;
}

.leftPanel {
  border-bottom: solid black;
}
.clockPanel {
  border-left-style: solid;
  margin-top: 80px;
  text-align: left;
  padding-left: 80px;
  margin-left: 10px;
  /*background-color: #5a7c86;*/
  color: #888888;
}

.title {
  text-align: center;
  letter-spacing: 0.1em;
  padding: 20px;
  font-size: 3.5em;
  color: white;
}

.difference{
  font-family: Arial;
  text-align: center;
  color: #888888;
}

.city1, .city2 {
  font-family: Arial;
  font-size: 1.5em;
}
.hellocity {
  margin-top: 0px;
  font-size: 3em;
  font-style: italic;
}

.actualtime {

}

.formattedDate{

}
.Clock {
  display: inline-block;
  text-align: left;
}

form {
  font-family: Arial;
  font-size: 2em;
}

label {
  font-size: 1.5em;
}
input {
  margin: 15px;
  font-size: 1em;
  background-color: #6b6b6b;
  color: white;
}

#diffresult {
  text-align: center;
  display: inline-block;
  padding: 25x 200px 25px 200px;
  font-size: 2em;
  color: white;
}
